@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  @apply text-slate-800
}
@layer utilities {
    .scrollbar::-webkit-scrollbar,
    .scrollbar-light::-webkit-scrollbar,
    .scrollbar-white::-webkit-scrollbar  {
      width: 10px;
      height: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-track{
      border-radius: 50px;
      background: #138691;
    }
    .scrollbar-light::-webkit-scrollbar-track{
      border-radius: 50px;
      background: #F3F4F6;
    }
    .scrollbar-white::-webkit-scrollbar-track{
      border-radius: 50px;
      background: white;
    }
  
    .scrollbar::-webkit-scrollbar-thumb{
      background: #1fa1ad;
      border-radius: 50px;
      border: 2px solid #138691;
    }

    .scrollbar-light::-webkit-scrollbar-thumb {
      background: #C1C1C1;
      border-radius: 50px;
      border: 2px solid #F3F4F6;
    }

    .scrollbar-white::-webkit-scrollbar-thumb {
      background: #C1C1C1;
      border-radius: 50px;
      border: 2px solid white;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover{
      background: #1fa8b5;
    }

    .scrollbar-light::-webkit-scrollbar-thumb:hover,
    .scrollbar-white::-webkit-scrollbar-thumb:hover{
      background: #CACACA;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}
  
.sidebar-mask-sm,
.sidebar-mask{
  background-color: #138691;
}

.sidebar-mask-sm{
  -webkit-mask: radial-gradient(circle at top 3.75rem right 0, transparent 0, transparent 15px, #138691 16px);
}

.sidebar-mask{
  -webkit-mask: radial-gradient(circle at top 2.75rem right 0, transparent 0, transparent 15px, #138691 16px);
}

/*LOADING*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  height: 18px;
}
.lds-ellipsis div {
  position: absolute;
  top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #1FA1AD;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis.white div{
  background: white;
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 20px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 32px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(12px, 0);
  }
}

/** LOADING - CIRCLE **/
.loading-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}